.form-layout{
    padding: 50px;
}

.mat-form-field {
    width: 100%;
}
.card-header
{
    border: 1px solid gray;
    padding: 13px;
   color:#3f51b5;
    margin-bottom: 10px;
    padding-bottom: 0px;
}
.card
{
    border: 1px solid gray;
    padding: 50px;
}

.example-full-width
{
    margin-bottom: 30px;
}

.add-employee
{
    float: right;
    background-color: #3f51b5;
    color: white;
}

.float-back
{
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 174px;
    left: 49px;
    background-color: #777777;
    color: #fff !important;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    cursor: pointer;
}

